LogLevel info
MaxLogSize 10485760
Listen 0.0.0.0:631
Listen /run/cups/cups.sock
Browsing No
DefaultShared Yes
DefaultEncryption Never
WebInterface No

<Location />
  Order deny,allow
  Deny from all
  Allow from 127.0.0.1
  Allow from ${LAN_SUBNET}
</Location>

<Location /admin>
  Order deny,allow
  Deny from all
  Allow from 127.0.0.1
</Location>

<Location /admin/conf>
  AuthType Default
  Require user @SYSTEM
  Order deny,allow
  Deny from all
  Allow from 127.0.0.1
</Location>

<Policy default>
  <Limit Create-Job Print-Job Print-URI Validate-Job Send-Document Send-URI>
    Order deny,allow
    Deny from all
    Allow from 127.0.0.1
    Allow from ${LAN_SUBNET}
  </Limit>

  <Limit Get-Printer-Attributes Get-Jobs Get-Job-Attributes Get-Subscriptions Get-Subscription-Attributes CUPS-Get-PPDs>
    Order deny,allow
    Deny from all
    Allow from 127.0.0.1
    Allow from ${LAN_SUBNET}
  </Limit>

  <Limit Cancel-Job CUPS-Get-Document>
    Require user @OWNER @SYSTEM
    Order deny,allow
    Deny from all
    Allow from 127.0.0.1
    Allow from ${LAN_SUBNET}
  </Limit>

  <Limit Pause-Printer Resume-Printer Enable-Printer Disable-Printer Pause-Printer-After-Current-Job Hold-New-Jobs Release-Held-New-Jobs Deactivate-Printer Activate-Printer Restart-Printer Shutdown-Printer Startup-Printer Promote-Job Schedule-Job-After CUPS-Accept-Jobs CUPS-Reject-Jobs>
    AuthType Default
    Require user @SYSTEM
    Order deny,allow
    Deny from all
    Allow from 127.0.0.1
  </Limit>

  <Limit CUPS-Add-Modify-Printer CUPS-Delete-Printer CUPS-Add-Modify-Class CUPS-Delete-Class CUPS-Set-Default>
    AuthType Default
    Require user @SYSTEM
    Order deny,allow
    Deny from all
    Allow from 127.0.0.1
  </Limit>
</Policy>
